<div class="row">
  <div class="col-sm-12 col-md-8 offset-md-2">
    <div class="row">
      <div class="col-sm-12">
        <div class="m-5 text-center">
        <%= image_tag 'logo.png', width: 400 %>
        </div>
      </div>
      <div class="col-sm-12">
        <%= form_with url: search_path, remote: true, method: :get, class: "d-block form-inline" do %>
          <div class="input-group">
            <%= text_field_tag :query, nil, autofocus: true, required: true, minlength: 3, class: "form-control form-control-lg" %>
            <div class="input-group-append">
              <%= button_tag name: nil, class: 'btn btn-lg btn-primary' do %>
                <i class="fas fa-search mr-1"></i> Hledat
              <% end %>
            </div>
          </div>
        <% end %>
        <small class="text-muted">Prohledává se <%= @indexed_domains %> domén</small>
      </div>
    </div>
  </div>
</div>
