<div class="card">
  <div class="card-content">
    <div class="card-title">Výsledky pro <b>&bdquo;<%= @query %>&rdquo;</b></div>
    <div class="col s12">
      <div class="valign-wrapper" style="margin-bottom: 1rem;">
        <%= link_to_prev_page @results, 'arrow_back', class: 'grey-text material-icons' %>
        <b style="margin: 0 1.5rem">
          Strana <%= @results.current_page %>
        </b>
        <%= link_to_next_page @results, 'arrow_forward', class: 'grey-text material-icons' %>
      </div>
    </div>

    <div class="row">
      <% @results.each do |result| %>
        <div class="col s12">
          <a href="<%= result.url %>" target="_blank">
            <div class="card hoverable">
              <div class="card-content">
                <img src="https://s2.googleusercontent.com/s2/favicons?domain=<%= result.url %>">
                <h6 class="black-text"><%= result.title %></h6>
                <small><%= result.url %></small>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>