<h1 class="card-title">Výsledky pro <b>&bdquo;<%= @query %>&rdquo;</b></h1>

<div class="row">
  <% @results.each do |result| %>
    <div class="col-sm-12">
      <a href="<%= result.url %>" target="_blank">
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex align-items-start">
              <img src="https://s2.googleusercontent.com/s2/favicons?domain=<%= result.url %>" class="mr-2">
              <h6 class="text-dark"><%= result.title %></h6>
            </div>
            <small><%= result.url %></small>
          </div>
        </div>
      </a>
    </div>
  <% end %>
  <div class="col-sm-12">
    <%= render partial: 'pagination' %>
  </div>
</div>
