<div class="row">
  <div class="col-sm-12 col-md-8">
    <h4>Správa domén</h4>
    <p class="grey-text">Celkem je v systému <%= @domains.count %> nastavených domén</p>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="float-right">
      <%= link_to "Přidat doménu", new_domain_path, class: 'btn btn-success' %>
    </div>
  </div>
  <div class="col-sm-12">
    <hr>
  </div>
  <% unless @not_indexed.empty? %>
    <div class="col-sm-12">
      <h5>Domény, které ještě nebyly indexované.</h5>
      <div class="row">
        <% @not_indexed.each do |domain| %>
          <%= render partial: "domain", locals: {domain: domain, indexed: false} %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% unless @indexed.empty? %>
    <div class="col-sm-12">
      <hr>
      <h5>Domény v indexu</h5>
      <div class="row">
        <% @indexed.each do |domain| %>
          <%= render partial: "domain", locals: {domain: domain, indexed: true} %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<script>
    $(document).on('turbolinks:load', function () {
        if (window.location.href === "<%= domains_url %>") {
            // Load the action cable connection
            enableDomainStatusUpdatesChannel();
        }
    });
</script>