<div class="row">
  <div class="col-sm-12 d-flex">
    <a href="<%= domains_path %>" class="text-muted mr-3">
      <i class="fas fa-arrow-left" style="font-size: 1.5rem;"></i>
    </a>
    <h4>Přidat novou doménu</h4>
  </div>
  <div class="col-sm-12">
    <div class="card mt-4">
      <div class="card-body">
        <%= form_with url: domains_path, method: :post do %>
          <div class="form-group">
            <%= label_tag "URL adresa kořenového adresáře" %>
            <%= text_field :domain, :url, autofocus: true, class: 'form-control', required: true, url: true %>
          </div>
          <div class="col-sm-s12">
            <%= submit_tag "Přidat do systému", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
